---
import Homepage from "../components/Homepage.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
const { pageTitle } = Astro.props;
import { getCollection } from "astro:content";
const collections = ["jewelry"];
import { getImage, Image } from "astro:assets"; // Add all your collections here
import Icon from "astro-icon";
// import logoImg from "../images/logo-white.svg";

let allImages = [];
let allAlts = [];
let allUrls = [];
for (let collection of collections) {
  const allContent = await getCollection(collection);
  const postsWithImages = allContent.filter(
    (post) => post.data.image?.src && post.data.image?.alt
  );

  const imagePromises = postsWithImages.map(async (post) => {
    const imageAsset = await getImage({
      src: post.data.image.src,
      alt: post.data.image.alt,
      //  inferSize: true,
      width: "1920",
      height: "1080",
      decoding: "async",
      format: "avif",
      quality: "65",
    });

    return {
      imageSrc: imageAsset ? imageAsset.src : null,
      alt: post.data.image.alt,
      url: `/${collection}/${post.slug}`,
    };
  });

  const results = await Promise.all(imagePromises);

  allImages.push(...results.map((result) => result.imageSrc));
  allAlts.push(...results.map((result) => result.alt));
  allUrls.push(...results.map((result) => result.url));

}
const logoWhite = await getImage({
src: "https://uplovevintage.b-cdn.net/logo-white.svg",
alt: "favicon",
// inferSize: true,
width: "600",
height: "600",
decoding: "async",
format: "avif"
});
---

{
  allImages.length > 0 ? (
    <Homepage
      title={pageTitle}
      images={JSON.stringify(allImages)}
      alt={JSON.stringify(allAlts)}
      urls={JSON.stringify(allUrls)}
      width="1920"
      height="1080"
    >
      <section class="flex flex-col items-center justify-between gap-8 lg:gap-16 z-30 md:w-8/12">
        <div class="about text-left w-full prose-sm sm:prose-lg md:prose-sm lg:prose-lg leading-relaxed">
          <p class="text-lg sm:text-xl md:text-lg lg:text-2xl leading-relaxed">
            Welcome to Uplove Vintage, your go-to destination for sustainable
            fashion and decor. We bring timeless treasures back to life with our
            curated collection of vintage items.
          </p>

          <p>
            Whether you're looking for unique home decor or stylish wardrobe
            additions, our vintage pieces combine the charm of the past with
            modern flair. Each item at Uplove Vintage is carefully selected and
            revitalised, ensuring you find something truly special. </p>

            <p class="">Discover the
            joy of sustainable shopping with Uplove Vintage, where every piece
            tells a story.
          </p>
        </div>
        <NewsletterSignup />
        <div class="w-full flex flex-col justify-center items-center gap-5">
        <p class="text-xl">Are you following us?</p>
        <ul class="w-1/3 flex gap-0 items-center justify-between ">
          <li><a href="#" title="Shop Uplove on Etsy" target="_blank" rel="nofollow" class="opacity-45 hover:opacity-100"><Icon name="mdi:etsy"  class="h-12 w-12" /></a></li>
          <li><a href="#" title="Follow us on Insta" class="opacity-45 hover:opacity-100"><Icon name="mdi:instagram"  class="h-12 w-12" /></a></li>
          <li><a href="#" title="Follow us on Facebook" class="opacity-45 hover:opacity-100"><Icon name="mdi:facebook"  class="h-12 w-12" /></a></li>
        </ul>
      </div>
      </section>
      <div class="page-content z-30 text-center flex flex-col items-center justify-between gap-4 lg:gap-8 relative  md:flex-shrink lg:flex-shrink-0 w-full md:w-1/2">
        <p class="font-bona-nova font-bold text-2xl sm:text-3xl md:text-3xl lg:text-5xl md:mb-8 text-white opacity-55">
          Recycle. Upcycle. Relove. Uplove.
        </p>
        <Image
          src={logoWhite.src}
          width={logoWhite.options.width}
          height={logoWhite.options.height}
          alt="Logo"
          loading="eager"
          class="h-auto mix-blend-overlay sm:max-w-80 md:max-w-[400px] lg:max-w-full opacity-55"
        />
        <p class="font-birthstone-bounce text-5xl sm:text-7xl md:text-[5rem] lg:text-[8rem] -rotate-12 opacity-55 lg:-mt-8 text-white">
          Coming soon!!
        </p>
      </div>

    </Homepage>
  ) : (
    <p>No images found!</p>
  )
}

<script src="../scripts/birthday.js" />