---
import Homepage from "../components/Homepage.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
const { pageTitle } = Astro.props;
import { getCollection } from "astro:content";
const collections = ["jewelry"];
import { getImage, Image } from "astro:assets"; // Add all your collections here
import logoImg from "../images/logo-white.svg";

let allImages = [];
let allAlts = [];
let allUrls = [];
for (let collection of collections) {
  const allContent = await getCollection(collection);
  const postsWithImages = allContent.filter(
    (post) => post.data.image?.src && post.data.image?.alt
  );

  const imagePromises = postsWithImages.map(async (post) => {
    const imageAsset = await getImage({
      src: post.data.image.src,
      alt: post.data.image.alt,
      //  inferSize: true,
      width: "1920",
      height: "1080",
      decoding: "async",
      format: "avif",
      quality: "65",
    });

    return {
      imageSrc: imageAsset ? imageAsset.src : null,
      alt: post.data.image.alt,
      url: `/${collection}/${post.slug}`,
    };
  });

  const results = await Promise.all(imagePromises);

  allImages.push(...results.map((result) => result.imageSrc));
  allAlts.push(...results.map((result) => result.alt));
  allUrls.push(...results.map((result) => result.url));
}
---

{
  allImages.length > 0 ? (
    <Homepage
      title={pageTitle}
      images={JSON.stringify(allImages)}
      alt={JSON.stringify(allAlts)}
      urls={JSON.stringify(allUrls)}
      width="1920"
      height="1080"
    >
      <div class="page-content z-30 text-center flex flex-col items-center justify-between gap-8 relative mix-blend-overlay flex-shrink-0">
        <p class="font-bona-nova font-bold text-5xl mb-8 mix-blend-overlay text-white">
          Recycle. Upcycle. Relove. Uplove.
        </p>
        <Image
          src={logoImg}
          width={600}
          alt="Logo"
          class="h-auto mix-blend-overlay"
        />
        <p class="font-birthstone-bounce text-[8rem] -rotate-12 mix-blend-overlay -mt-8 text-white">
          Coming soon!!
        </p>
      </div>
      <section class="flex flex-col items-center justify-between gap-16 z-30">
        <div class="about text-center w-3/4 text-xl prose-xl">
          <p>Welcome to Uplove Vintage, your go-to destination for sustainable fashion and decor. We bring timeless treasures back to life with our curated collection of vintage items.</p>

<p class="text-lg">Whether you're looking for unique home decor or stylish wardrobe additions, our vintage pieces combine the charm of the past with modern flair. Each item at Uplove Vintage is carefully selected and revitalised, ensuring you find something truly special. Discover the joy of sustainable shopping with Uplove Vintage, where every piece tells a story.</p>
        </div>
        <NewsletterSignup />

      </section>

    </Homepage>
  ) : (
    <p>No images found!</p>
  )
}
