---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title, images, alt, urls, width, height } = Astro.props;
---

<BaseLayout title={title} is404Page={false}>
  <div
    id="homepage"
    class="flex md:flex-row md:flex-nowrap flex-col-reverse justify-center items-center w-full gap-16 md:gap-24 p-5 pb-24 md:p-16 pt-32 md:pt-16"
    data-images={images}
    data-alt={alt}
    data-urls={urls}
    data-width={width}
    data-height={height}
  >
    <a class="absolute inset-0 z-0">
      <img
        id="randomHomePageImage"
        class="hidden w-screen h-auto min-h-full object-cover object-center"
      />
    </a>
    <slot />
  </div>
</BaseLayout>
<script src="../scripts/homePage.js"></script>
