---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/overpass-mono";
import "@fontsource-variable/inconsolata";
import "@fontsource-variable/baloo-2";
import "@fontsource/birthstone-bounce";
import "@fontsource/bona-nova";
import { getImage } from "astro:assets";
import Icon from "astro-icon";
import PageCosmetics from "../components/PageCosmetics.astro";

let baseUrl = new URL(Astro.request.url).origin;
const metaImage = await getImage({
  src: "https://cdn.uplovevintage.co.uk/jewelry.003.jpg",
  alt: "cover_image",
  // inferSize: true,
  width: "1280",
  height: "720",
  decoding: "async",
  format: "webp",
  loading: "lazy",
});

const favicon_webp = await getImage({
  src: "https://cdn.uplovevintage.co.uk/cdn-favicon.png",
  alt: "favicon",
  // inferSize: true,
  width: "400",
  height: "400",
  decoding: "async",
  format: "webp",
  loading: "lazy",
});

const pageTitle = "Uplove Vintage";
const metaDescription =
  "Recycle. Upcycle. Relove. Uplove. is our ethos. Coming soon!";
const {
  image,
  description,
  author,
  pubDate,
  updatedDate,
  title,
  site_name,
  alt,
  is404Page = false,
} = Astro.props;
---

<html class="bg-[rgb(245,245,245)] dark:bg-[rgb(34,33,37)] dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/webp" href={favicon_webp.src} /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#957000" />
    <meta name="msapplication-TileColor" content="#124b00" />
    <meta name="theme-color" content="#2c6a30" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={title || pageTitle} />
    <meta name="og:description" content={description || metaDescription} />
    <meta name="description" content={description || metaDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={site_name || "Uplove Vintage"} />
    <meta name="og:image" content={image || `${baseUrl}${metaImage?.src}`} />
    <meta name="article:author" content={author || "Uplove Vintage"} />
    <meta name="article:published_time" content={pubDate} />
    <meta name="article:modified_time" content={updatedDate} />
    <meta name="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta property="twitter:url" content={Astro.url} />
    <meta
      name="twitter:card"
      content={image || `${baseUrl}${metaImage?.src}`}
    />
    <meta name="twitter:title" content={title || pageTitle} />
    <meta name="twitter:description" content={description || metaDescription} />
    <meta
      name="twitter:image"
      content={image || `${baseUrl}${metaImage?.src}`}
    />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col flex-wrap items-center justify-start lg:justify-center max-w-full min-h-full relative dark:bg-[rgb(34,33,37)] dark:text-[rgb(245,245,245)]"
  >
    <Header is404Page={is404Page} />
    <div class="wrapper w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-[1750px] px-4 md:px-5 py-32 md:pt-28 md:pb-8 md:p-0 lg:pt-16 md:min-h-[calc(100vh-2rem)] lg:flex lg:items-center lg:justify-center">
      <slot />
    </div>
    <PageCosmetics />
    <Footer />
  </body>
</html>
