---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/overpass-mono";
import "@fontsource-variable/inconsolata";
import "@fontsource-variable/baloo-2";
import "@fontsource/birthstone-bounce";
import "@fontsource/bona-nova";
import { getImage } from "astro:assets";
import Icon from "astro-icon";

let baseUrl = new URL(Astro.request.url).origin;
const metaImage = await getImage({
  src: "https://cdn.erfianugrah.com/Tenhult_3.JPG",
  alt: "cover_image",
  // inferSize: true,
  width: "1280",
  height: "720",
  decoding: "async",
  format: "webp",
  loading: "lazy",
});

const favicon_webp = await getImage({
  src: "https://cdn.erfianugrah.com/ea_favicon.png",
  alt: "favicon",
  // inferSize: true,
  width: "400",
  height: "400",
  decoding: "async",
  format: "webp",
  loading: "lazy",
});

const pageTitle = "Uplove Vintage";
const metaDescription =
  "Recycle. Upcycle. Relove. Uplove. is our ethos. Coming soon!";
const {
  image,
  description,
  author,
  pubDate,
  updatedDate,
  title,
  site_name,
  alt,
  is404Page = false,
} = Astro.props;
---

<html class="bg-[rgb(245,245,245)] dark:bg-[rgb(34,33,37)] dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/webp" href={favicon_webp.src} /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#957000" />
    <meta name="msapplication-TileColor" content="#124b00" />
    <meta name="theme-color" content="#2c6a30" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={title || pageTitle} />
    <meta name="og:description" content={description || metaDescription} />
    <meta name="description" content={description || metaDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={site_name || "stoicopa"} />
    <meta name="og:image" content={image || `${baseUrl}${metaImage?.src}`} />
    <meta name="article:author" content={author || "Erfi Anugrah"} />
    <meta name="article:published_time" content={pubDate} />
    <meta name="article:modified_time" content={updatedDate} />
    <meta name="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta property="twitter:url" content={Astro.url} />
    <meta
      name="twitter:card"
      content={image || `${baseUrl}${metaImage?.src}`}
    />
    <meta name="twitter:title" content={title || pageTitle} />
    <meta name="twitter:description" content={description || metaDescription} />
    <meta
      name="twitter:image"
      content={image || `${baseUrl}${metaImage?.src}`}
    />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col flex-wrap justify-center max-w-full min-h-screen md:max-h-screen md:overflow-hidden relative dark:bg-[rgb(34,33,37)] dark:text-[rgb(245,245,245)]"
  >
    <Header is404Page={is404Page} />
    <div class="wrapper w-full h-auto">
      <slot />
    </div>
    <div
      class="shadow-vignette w-screen h-full md:h-screen z-10 pointer-events-none absolute inset-0 bg-green-600/30 dark:bg-green-800/30"
    >
    </div>
    <div
      class="large-heart w-screen h-screen z-[9]  inset-0 bg-white/30 dark:bg-black/30 mix-blend-overlay overflow-y-visible fixed"
    >
      <Icon
        name="logo-heart-large"
        class="h-screen md:h-auto w-auto md:w-5/6 -translate-y-16 md:-translate-y-28"
      />
    </div>
    <Footer />
  </body>
</html>
